*{
    margin: 0px;
    padding: 0px;
}

.nav-item a{
    color: black;
}
.nav-item a:hover{
    color:#F24405;
    text-decoration-line: underline;
    
}
#heading{
    color:#ea4020;
    font-weight: bold;
}
/* services*/

.heading h2{
    text-align: center;
	margin-bottom: 6%;
}

.service {
	border: 1px solid #e2e8f0;
	border-radius: 7px;
	box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
	margin-top: 88px;
	padding-bottom: 30px;
}
.service-hex {
	margin-top: 30px;
	width: 104px;
	height: 60px;
	background-color:#ea4020;
	position: relative;
	top: -55px;
	left: 40%;
}
.service-hex:before {
	content: " ";
	width: 0;
	height: 0;
	border-bottom: 30px solid #ea4020;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	position: absolute;
	top: -30px;
}
.service-hex:after {
	content: "";
	width: 0;
	position: absolute;
	bottom: -30px;
	border-top: 30px solid #ea4020;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
}
.service-hex i {
	position: absolute;
	color: #fff;
	font-size: 40px;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 10px;
}
.service-inner {
	text-align: center;
	padding: 5px 44px;
	font-size: 17px;
}
.service-inner h3 {
	font-size: 23px;
}
.service-inner p {
	font-size:16px;
	line-height:28px;
	font-family: 'Lato';
}

.projects h3{
	text-align: center;
	margin-bottom: 60px;
}
.card-body a{
	text-decoration: none;
	color: white;
	border: 1px solid #ea4020;
	padding: 4px;
	width: 60px;
	border-radius: 5px;
	height: 10px;
	background-color: #ea4020;
}
.card-body a:hover{
	color:white;
	border: transparent;
    background-color: hsl(198, 100%, 43%);
	
}
.card-body h5{
	color: #ea4020;
}
@media only screen and (max-width:768px) {
.service-hex {
 left:38%;
}
.card{
	margin: 10px;
}
}